body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.parallel-contianer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container-left-align {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
}

.container-sub {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-top: 25px; /* Adjust the top padding as needed */
}

.image-contianer {
    margin-top: 50px;
    margin-bottom: 30px;
}

#progress-div {
    margin-top: 10px;
}

h1 {
    color: #0056b3;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

#company-form{
    display: flex;
    flex-direction: row;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result-btn{
    display: none;
    background-color: Tomato ;
}

#compare-btn {
    border-radius: 10px;
    background-color: #006400;
    width: 200px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    font-size: 11px; /* Adjust the font size as needed */
  }

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; /* Align text to the left */
}