<!DOCTYPE html>
<html>
<head>
    <title>ESG Document Retrieval Analysis Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

    <script>
        var API_URL="http://127.0.0.1:5000/"
    </script>


    <div class="container">
        <div class="image-contianer">
            <!-- <img src="../static/image/icon.jpeg" alt="Your Photo" width="200" height="200"> -->
            <img src="../static/image/cover3.jpg" alt="Your Photo" width="600" height="300">
        </div>
        <h1>ESG Document Retrieval Analysis Demo</h1>
        {% if compare %}
        <h2>Multi-company ESG Comparison</h2>
        {% else %}
        <h2>Single Company Analysis</h2>
        {% endif %}
        <p>Welcome to the ESG Document Retrieval Analysis Demo. This product allows you to analyze ESG-related documents for a specific company.</p>
        
        {% if compare %}
        <script>
            var process_second_file = true;
        </script>

        <div class="parallel-contianer">
            
            <div class="container-sub">
                <div class="form-group">
                    <!-- <h2>Upload PDF File</h2> -->
                    <input type="file" id="pdf-upload" accept=".pdf">
                </div>
                
                <div class="form-group">
                    <!-- <h2>Company Analysis Form</h2> -->
                    <form id="company-form">
                        <label for="company-name">Company A Name:</label>
                        <p>&nbsp&nbsp</p>
                        <input type="text" id="company-name" name="company-name" required>
                    </form>
                </div>
            </div>

            <div class="container-sub">
                <div class="form-group">
                    <!-- <h2>Upload PDF File</h2> -->
                    <input type="file" id="pdf-upload2" accept=".pdf">
                </div>
                
                <div class="form-group">
                    <!-- <h2>Company Analysis Form</h2> -->
                    <form id="company-form">
                        <label for="company-name">Company B Name:</label>
                        <p>&nbsp&nbsp</p>
                        <input type="text" id="company-name2" name="company-name" required>
                    </form>
                </div>
            </div>

        </div>

        {% else %}

        <script>
            var process_second_file = false;
        </script>

        <div class="container">
            <a href="/comparison">
                <button id="compare-btn">Switch to Company Comparison</button>
            </a>
        </div>

        <div class="container-sub">

            <div class="form-group">
                <!-- <h2>Upload PDF File</h2> -->
                <input type="file" id="pdf-upload" accept=".pdf">
            </div>
            
            <div class="form-group">
                <!-- <h2>Company Analysis Form</h2> -->
                <form id="company-form">
                    <label for="company-name">Company Name:</label>
                    <p>&nbsp&nbsp</p>
                    <input type="text" id="company-name" name="company-name" required>
                </form>
            </div>
        </div>

        {% endif %}


        
        <div class="container">
            <button id="process-btn">Process</button>
            <div id="progress-div"></div>
            <div id="result-div">
                <a href="/result">
                    <button id="result-btn">View Result</button>
                </a>
            </div>
        </div>
        

        <!-- RESULT TITLE + TABLE -->
        {% if result %}
        <h2>Analysis Result</h2>
        
        {% if multi==0%}
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dic in result %}
                    <tr>
                        <td styles="text-align: left">{{ dic.Question }}</td>
                        {% if dic.Answer=="FALSE" %}
                            <td style="color:Tomato;">{{ dic.Answer }}</td>
                        {% else %}
                            <td>{{ dic.Answer }}</td>
                        {% endif %}
                        <td>{{ dic.Source }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        {% else %}
            
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer - A</th>
                        <th>Source - A</th>
                        <th>Answer - B</th>
                        <th>Source - B</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dic in result %}
                    <tr>
                        <td styles="text-align: left">{{ dic.Question }}</td>

                        {% if dic.Answer_A=="FALSE" %}
                            <td style="color:Tomato;">{{ dic.Answer_A }}</td>
                        {% else %}
                            <td>{{ dic.Answer_A }}</td>
                        {% endif %}
                        <td>{{ dic.Source_A }}</td>

                        {% if dic.Answer_B=="FALSE" %}
                            <td style="color:Tomato;">{{ dic.Answer_B }}</td>
                        {% else %}
                            <td>{{ dic.Answer_B }}</td>
                        {% endif %}
                        <td>{{ dic.Source_B }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
        {% endif %}

    </div>

    
    </div>

    <script>
        var isTaskComplete = false; // Flag variable to track task completion
    
        function updateProgress() {
            fetch(API_URL + "/progress")
                .then(function(response) {
                    return response.json();
                })
                .then(function(data) {
                    document.getElementById("progress-div").innerHTML = "Processing: " + data.progress;
                    if (data.progress != "completed" && !isTaskComplete) { // Check if task is complete before continuing updates
                        setTimeout(updateProgress, 1000); // Repeat the request after 1 second
                    } else {
                        // Enable the process button once the task is complete
                        document.getElementById("process-btn").disabled = false;
                        document.getElementById("progress-div").innerHTML = "Task Complete";
                        // show result button
                        document.getElementById("result-btn").style.display= "inline";
                    }
                })
                .catch(function(error) {
                    console.log("Error:", error);
                });
        }
    
        document.getElementById("process-btn").addEventListener("click", function() {
            // Get the selected file and form data
            var file = document.getElementById("pdf-upload").files[0];
            var formData = new FormData(document.getElementById("company-form"));
            formData.append("file", file)
            
            // Reset the task completion flag
            isTaskComplete = false;
    
            // Disable the process button
            document.getElementById("process-btn").disabled = true;
    
            // Start updating the progress status
            updateProgress();
    
            // according to whehter doing comparison to decide which api to call
            if (process_second_file==false) {

                // Make an API call to start the long-running process
                fetch(API_URL + "/analyze", {
                    method: "POST",
                    body: formData
                })
                .then(function(response) {
                    // Handle the response from the API call
                    // Set the task completion flag to true
                    isTaskComplete = true;
                    // show result button
                    document.getElementById("result-btn").style.display= "inline";
                })
                .catch(function(error) {
                    console.log("Error:", error);
                });

            } else {

                var file2 = document.getElementById("pdf-upload2").files[0];
                formData.append("file2", file2)

                // Make an API call to start the long-running process
                fetch(API_URL + "/analyze_multi", {
                    method: "POST",
                    body: formData
                })
                .then(function(response) {
                    // Handle the response from the API call
                    // Set the task completion flag to true
                    isTaskComplete = true;
                    // show result button
                    document.getElementById("result-btn").style.display= "inline";
                })
                .catch(function(error) {
                    console.log("Error:", error);
                });

            }


        });
    </script>
    
</body>
</html>